.card-img-top-custom{
    object-fit: contain;
    width: 100%;
    height: 100%;
    padding: 2px;
}

.item-img-container {
    height: 300px;
}

.images-thumb-card{
    height: 35px;
    width: 35px;
    object-fit: cover;
    overflow: hidden;
    border: 0.5px lightgray solid;
    border-radius: 20%;
    padding: 2px;
}

.border-stock-card{
    padding: 2px;
    border: 1px black solid;
}

