.content-dashed {
    border: 1px dashed #dedede !important;
    padding: 8px;
    margin: 0px 0px 4px 0px;
    vertical-align: middle;
    align-content: center;
    background: transparent !important;
    clear: both;
}
