.header-icon {
    font-size: xx-large;
}

.bold {
    font-weight: bold;
}

.cart-drawer-header-icon {
    font-size: xx-large;
}

.cart-drawer-title {
    font-weight: bold;
}

.product-card-container {
    width: 240px;
    &:hover {
        box-shadow: 2px 2px 2px 1px rgba(67, 55, 63, 0.5);
        transform: scale(1.02)
    }
}

.products-content {
    max-width: 1414px;
    margin: auto;
}

.product-card-title-container:hover {
    text-decoration: underline;
    color: @secondary-color;
}

.cart-drawer-content-item-list-img {
    width: 60px;
    height: 60px;
    object-fit: fill;
}

.cart-drawer-content-delete-icon {
    font-size: x-large;
}

.scroll-vertical {
    margin: 1rem 0 1rem 1rem;
    padding: 0;
    width: 100%;
    max-height: 40vh;
    overflow-x: hidden;
    overflow-y: auto;
    vertical-align: middle;
    box-sizing: content-box;
    word-wrap: break-word;

    /* width */

    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */

    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.list-unstyled {
    list-style: none;
    padding: 0;
}

.purchase-summary-img {
    width: 55px;
    height: 55px;
    object-fit: fill;
}

.purchase-summary-product-title {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.purchase-summary-product-attribute-list {
    font-size: 0.8rem;
    color: grey;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media only screen and (max-width: 359px) {
    .purchase-summary-product-title {
        font-size: 0.7rem;
        margin: 0;
        padding: 0;
        font-weight: bold;
    }

    .purchase-summary-product-price {
        font-size: 0.8rem;
    }
}

.purchase-address-form-item {
    margin: 0;
}

.cart-resume-product-row-img {
    width: 90px;
    height: 90px;
    object-fit: fill;
}
.cart-resume-product-title{
    font-size: large;
    font-weight: bold;
    margin-bottom: 0px;
}

.cart-resume-product-row-info-quantity-price {
    margin-right: 4rem;
}

.cart-resume-product-content-delete-icon {
    font-size: x-large;
}

.cart-resume-product-row-content-img {
    display: flex;
    width: 100px;
}

.cart-resume-product-row-info-content-list-attribute {
    font-size: 0.8rem;
    color: grey;
    margin: 0;
    padding: 0;
    list-style: none;
}

.resume-cart-summary-content {
    margin-top: 65px;
}

@media only screen and (max-width: 767px) {
    .resume-cart-summary-content {
        margin-top: 5px;
    }
}

@media only screen and (max-width: 455px) {
    .cart-resume-product-row-img {
        width: 50px;
        height: 50px;
        object-fit: fill;
    }

    .cart-resume-product-row-info-content{
        font-size: 0.7rem;
    }

    .cart-resume-product-title{
        font-size: 0.8rem;
        font-weight: bold;
        margin-bottom: 0px;
    }

    .cart-resume-product-row-info-quantity-price {
        margin-right: 0px;
    }

    .cart-resume-product-content-delete-icon {
        font-size: large;
    }

    .cart-resume-product-row-content-img {
        display: flex;
        width: 55px;
    }

    .cart-resume-product-row-info-content-list-attribute {
        font-size: 0.6rem;
        color: grey;
        margin: 0;
        padding: 0;
        list-style: none;
    }
}
