.header-icon {
    font-size: xx-large;
}

.bold {
    font-weight: bold;
}

.cart-drawer-header-icon {
    font-size: xx-large;
}

.cart-drawer-title {
    font-weight: bold;
}

.product-card-container {
    width: 240px;
    &:hover {
        box-shadow: 2px 2px 2px 1px rgba(67, 55, 63, 0.5);
        transform: scale(1.02)
    }
}

.products-content {
    max-width: 1414px;
    margin: auto;
}

.product-card-title-container:hover {
    text-decoration: underline;
    color: @secondary-color;
}

.cart-drawer-content-item-list-img {
    width: 60px;
    height: 60px;
    object-fit: fill;
}

.cart-drawer-content-delete-icon {
    font-size: x-large;
}

.scroll-vertical {
    margin: 1rem 0 1rem 1rem;
    padding: 0;
    width: 100%;
    max-height: 40vh;
    overflow-x: hidden;
    overflow-y: auto;
    vertical-align: middle;
    box-sizing: content-box;
    word-wrap: break-word;

    /* width */

    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */

    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.list-unstyled {
    list-style: none;
    padding: 0;
}

.whatsApp {
    background-color: #21c45d;
}

.instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px 3px #999;
    margin-bottom: 5px;
    text-decoration: none;
    color: #dcf8c6;
}

.social-button:hover {
    opacity: 0.8;
}

.social-media {
    position: fixed;
    bottom: 2px;
    right: 10px;
    height: 110px;
    width: 55px;
    display: block;
    justify-content: center;
}

.purchase-summary-img {
    width: 55px;
    height: 55px;
    object-fit: fill;
}

.purchase-summary-product-title {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.purchase-summary-product-attribute-list {
    font-size: 0.8rem;
    color: grey;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media only screen and (max-width: 359px) {
    .purchase-summary-product-title {
        font-size: 0.7rem;
        margin: 0;
        padding: 0;
        font-weight: bold;
    }

    .purchase-summary-product-price {
        font-size: 0.8rem;
    }
}

.purchase-address-form-item {
    margin: 0;
}

.cart-resume-product-row-img {
    width: 90px;
    height: 90px;
    object-fit: fill;
}

.cart-resume-product-title{
    font-size: large;
    font-weight: bold;
    margin-bottom: 0px;
}
